@import '../../style/variables.css';

.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input input {
  background-color: #cccccc40;
  border-color: slategray;
  border-radius: 30px;
  width: 100%;
  padding: 15px;
  border-width: 0px;
  margin-bottom: 20px;
}

.input input:focus {
  outline: 1px solid var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
