@import '../../style/variables.css';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 10vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  background: var(--primary-color);
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
}

.modal label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.modal input {
  background-color: #cccccc40;
  border-color: slategray;
  border-radius: 30px;
  width: 100%;
  padding: 15px;
  border-width: 0px;
  margin-bottom: 20px;
}

.modal input:focus {
  outline: 1px solid #1e90ff;
  box-shadow: 0 0 10px #1e90ff;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}