.tasks {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.tasks ul {
  list-style: none;
  padding: 1rem;
}

.tasks li {
  border: 1px solid #ccc;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.tasks li h3 {
  color: #1e90ff;
}

.date {
  font-weight: lighter;
  color: #6392FF;
}

.pending {
  color: #FFC90A;

}

.completed {
  font-weight: bold;
  color: #6AC12C;
}

.delete {
  font: inherit;
  border: 1px solid #FF5630;
  background: #FF5630;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.delete:hover,
.delete:active {
  background: #FF8B63;
  border-color: #FF8B63;
}

.button:focus {
  outline: none;
}