.button {
  font: inherit;
  border: 1px solid #1e90ff;
  background: #1e90ff;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #56B4FF;
  border-color: #56B4FF;
}

.button:focus {
  outline: none;
}

.dangerButton {
  font: inherit;
  border: 1px solid #FF5630;
  background: #FF5630;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.dangerButton:hover,
.dangerButton:active {
  background: #FF8B63;
  border-color: #FF8B63;
}

.dangerButton:focus {
  outline: none;
}

.successButton {
  font: inherit;
  border: 1px solid #6AC12C;
  background: #6AC12C;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.successButton:hover,
.successButton:active {
  background: #97D95B;
  border-color: #97D95B;
}

.successButton:focus {
  outline: none;
}

.warningButton {
  font: inherit;
  border: 1px solid #FFC90A;
  background: #FFC90A;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.warningButton:hover,
.warningButton:active {
  background: #FFDA47;
  border-color: #FFDA47;
}

.warningButton:focus {
  outline: none;
}