.button {
  font: inherit;
  border: 1px solid #1e90ff;
  background: #1e90ff;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #56B4FF;
  border-color: #56B4FF;
}

.button:focus {
  outline: none;
}

.dangerButton {
  font: inherit;
  border: 1px solid #FF5630;
  background: #FF5630;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.dangerButton:hover,
.dangerButton:active {
  background: #FF8B63;
  border-color: #FF8B63;
}

.dangerButton:focus {
  outline: none;
}